
a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #4586ff;
}
a:hover {
    text-decoration: none;
    color: #4586ff;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.45;
    font-weight: normal;
    color: #000;
}

.text-primary {
    color: #4586ff !important;
}

.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
}
@media screen and (max-width: 991px) {
    .ftco-navbar-light {
        background: #000 !important;
        top: 0;
        position: relative;
    }
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (max-width: 960px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
.ftco-navbar-light .navbar-nav > .nav-item.ftco-cta a {
    color: #fff;
}
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}
@media screen and (max-width: 960px) {
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0;
    }
}
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
    position: absolute;
    content: '';
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.05);
}
@media screen and (max-width: 960px) {
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
        display: none;
    }
}
.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}
.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important;
}
@media screen and (max-width: 768px) {
    .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}
@media screen and (max-width: 576px) {
    .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.ftco-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}
.ftco-navbar-light.scrolled .nav-link {
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
    color: #000 !important;
}
.ftco-navbar-light.scrolled .nav-link.active {
    color: #4586ff !important;
}
.ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.ftco-navbar-light.scrolled.sleep {
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.ftco-navbar-light.scrolled .navbar-brand {
    color: #000;
}

.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
