<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
   
    <link rel="stylesheet" type="text/css" href="../public/css/foresty.css" >
    <link rel="stylesheet" href="../public/css/common.css"/>
    <link rel="stylesheet" href="../public/css/signin-signup.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    <!-- navbar start -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="index.html">NewsApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Notifications <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Latest Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="signin-signup.html">SignIn/Signup <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- navbar ends -->
      <!-- navbar ends -->

<section class="main">
  <div class="login-wrap">
    <div class="login-html">
            <input id="tab-1" type="radio" name="tab"class="sign-in" checked><label for="tab-1"   class="tab">Sign In</label>
                <input id="tab-2" type="radio" name="tab"class="sign-up"><label for="tab-2"                         class="tab">Sign Up</label>
                <div class="login-form"> 
                    <div class="sign-in-htm">
                    <section ng-app="login" ng-controller="loginCtrl" ng-class="{shake: ui.shake }">
                        <div ng-if="alert" class="info" ng-class="{error : alert.type == 'error', good: alert.type == 'good'}">
                        <p>{{ alert.message }}</p></div>
                        <div class="group">
                            <label for="login" class="label">Username</label>
                            <input  type="text" class="input" ng-model="login">
                        </div>
                        <div class="group">
                            <label for="pwd" class="label">Password</label>
                            <input  type="password"  ng-model="pwd" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In" ng-click="loginaction()">
                        </div>
                    </section>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="pass" type="text" class="input">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Already Member?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>







  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>

 
var app = angular.module('login', []);


app.controller('loginCtrl',function($scope,$timeout){

	var user = {
		'login': 'admin',
		'pwd': 'admin'
	};
	
	$scope.ui = {
		'shake' :false
	};
	
	$scope.loginaction = function(){
		if($scope.login == user.login && $scope.pwd == user.pwd){
			$scope.alert = {
				type: 'good',
				message: 'Welcome ! Your are logged ' + user.login
			};
			console.log($scope.alert);
		}
		else{

			$scope.ui.shake = true;
			console.log($scope.alert);
		}
	 $scope.$watch( $scope.ui.shake  ,function(newValue, oldValue){
		  if($scope.ui.shake == true){
				$timeout(function(){
					$scope.ui.shake = false;
				}, 1000);
			}
	 	});
	};


});

</script>
</body>
</html>