<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    <h1>Welcome to user Profile</h1>
    <a href="/user/logout">Log out</a>


    <!-- To be deleted for auth repo----------------------------------------------- -->
    <h2>Add Post</h2>
    <form action="/post" method="POST">
        <input type="text" name="title" placeholder="title" required>
        <input type="text" name="description" placeholder="description" required>
        <input type="text" name="location" placeholder="location" required>
        <button type="submit">Post</button>
    </form>

    <h2>My previous Posts</h2>
    <% if (user.posts.length !== 0) { %>
    <% user.posts.forEach((post)=>{ %>
    <ul>
     <%= post.title %>
    </ul>
    <% }); %>
    <% } %>

</body>

</html>